---
- name: Deploy registries.yaml
  ansible.builtin.template:
    src: registries.yaml.j2
    dest: /etc/rancher/k3s/registries.yaml
    owner: root
    group: root
    mode: '0600'
  notify:
    - "Restart k3s {{ k3s_mode }}"
