apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: scrapers-dev

resources:
  - namespace.yml
  - ../../base

commonLabels:
  product: scrapers
  environment: dev

patches:
  - target:
      kind: Deployment
    patch: |
      - op: add
        path: /spec/template/spec/nodeSelector
        value:
          node-role: infra
      - op: add
        path: /spec/template/spec/tolerations
        value:
          - key: node-role
            operator: Equal
            value: infra
            effect: NoSchedule
      - op: add
        path: /spec/template/spec/imagePullSecrets
        value:
          - name: regcred
  - target:
      kind: StatefulSet
    patch: |
      - op: add
        path: /spec/template/spec/imagePullSecrets
        value:
          - name: regcred
