apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-api-go
  labels:
    app: app-api-go
    service-template: app-go
spec:
  replicas: 2
  selector:
    matchLabels:
      app: app-api-go
  template:
    metadata:
      labels:
        app: app-api-go
        expose: ingress
    spec:
      containers:
        - name: app-api-go
          image: registry.infra.makekod.ru/go-api:dev
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
              name: http
          envFrom:
            - configMapRef:
                name: app-api-go-config
            - secretRef:
                name: service-secrets
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "256Mi"
              cpu: "500m"
          livenessProbe:
            httpGet:
              path: /healthz
              port: http
            initialDelaySeconds: 5
            periodSeconds: 30
            timeoutSeconds: 5
          readinessProbe:
            httpGet:
              path: /readyz
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 5
