apiVersion: v1
kind: Service
metadata:
  name: app-auth-go
  labels:
    app: app-auth-go
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: app-auth-go
