githubConfigUrl: https://github.com/nirssyan/nirssyan-mono
githubConfigSecret: github-app-secret
runnerScaleSetName: infatium-ko
maxRunners: 5
minRunners: 0

template:
  spec:
    containers:
      - name: runner
        image: ghcr.io/actions/actions-runner:latest
        command: ["/home/runner/run.sh"]
        volumeMounts:
          - name: work
            mountPath: /home/runner/_work
    restartPolicy: Never
    volumes:
      - name: work
        emptyDir: {}
