apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yml
  - service.yml
  - configmap.yml
  # networkpolicy-prometheus.yml moved to overlays/dev/network-policies.yml to avoid commonLabels
