apiVersion: apps/v1
kind: Deployment
metadata:
  name: SERVICE_NAME
  labels:
    app: SERVICE_NAME
    service-type: app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: SERVICE_NAME
  template:
    metadata:
      labels:
        app: SERVICE_NAME
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
        - name: SERVICE_NAME
          image: REGISTRY_URL/PRODUCT_NAME/SERVICE_NAME:prod
          imagePullPolicy: Always
          ports:
            - containerPort: 80
              name: http
          envFrom:
            - secretRef:
                name: SERVICE_NAME-secrets
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 5
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 128Mi
