name: Build & Deploy go-rss-api

on:
  push:
    branches: [develop]
    paths:
      - 'services/go-rss-api/**'
      - '.github/workflows/ci-go-rss-api.yml'
      - '.github/workflows/ci-go-ko.yml'

jobs:
  build-and-deploy:
    uses: ./.github/workflows/ci-go-ko.yml
    with:
      service-name: go-rss-api
      service-path: services/go-rss-api
      import-path: ./cmd/api
      image-name: go-rss-api
      deployment-name: go-rss-api
      namespace: scrapers-dev
    secrets: inherit
