name: Build & Deploy go-integrations

on:
  push:
    branches: [develop, master]
    paths:
      - 'services/go-integrations/**'
      - '.github/workflows/ci-go-integrations.yml'
      - '.github/workflows/ci-go-ko.yml'

jobs:
  build-and-deploy:
    uses: ./.github/workflows/ci-go-ko.yml
    with:
      service-name: go-integrations
      service-path: services/go-integrations
      import-path: ./cmd/integrations
      image-name: integrations-go
      deployment-name: app-integrations-go
      namespace: ${{ github.ref == 'refs/heads/master' && 'infatium-prod' || 'infatium-dev' }}
      image-tag: ${{ github.ref == 'refs/heads/master' && 'prod' || 'dev' }}
    secrets: inherit
